<div class="${baseClass}" data-dojo-attach-point="containerNode">
    <link rel="stylesheet" type="text/css" media="screen" href="${relativeUrl}/css/dateField/jquery.dateField.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="${relativeUrl}/css/gantt/gantt.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="${relativeUrl}/css/jquery.svg.css" />

    <div id="${workspaceId}" style="padding:0px; overflow-y:hidden;position:relative;margin:0px;"></div>

    <div id="gantEditorTemplates" style="display:none;">
        <div class="__template__" type="TASKSEDITHEAD"><!--
            <table class="gdfTable" cellspacing="0" cellpadding="0">
                <thead>
                    <tr style="height:40px">
                        <th class="gdfColHeader" style="width:35px;"></th>
                        <th class="gdfColHeader gdfResizable colname-code" style="width:30px;">Code</th>
                        <th class="gdfColHeader gdfResizable colname-name" style="width:300px;">Name</th>
                        <th class="gdfColHeader gdfResizable colname-start" style="width:80px;">Start</th>
                        <th class="gdfColHeader gdfResizable colname-end" style="width:80px;">End</th>
                        <th class="gdfColHeader gdfResizable colname-dur" style="width:48px;">Dur.</th>
                        <th class="gdfColHeader gdfResizable colname-dep" style="width:45px;">Dep.</th>
                    </tr>
                </thead>
            </table>
     --></div>
        <div class="__template__" type="TASKROW"><!--
            <tr taskId="(#=obj.id#)" class="taskEditRow (#=obj.isParent()?'isParent':''#)" level="(#=level#)">
                <th class="gdfCell edit" align="right" style="cursor:pointer;"><span class="taskRowIndex">(#=obj.getRow()+1#)</span> <span class="ganttInline icon-16-container icon-16-edit"></span></th>
                <td class="gdfCell colname-code"><input type="text" name="code" value="(#=obj.code?obj.code:''#)"></td>
                <td class="gdfCell colname-name indentCell" style="padding-left:(#=obj.level*10#)px;">
                    <div class="(#=obj.isParent()?'exp-controller expcoll exp':'exp-controller'#)" align="center"></div>
                    <input type="text" name="name" value="(#=obj.name#)">
                </td>
                <td class="gdfCell colname-start"><input type="text" name="start"  value="" class="date"></td>
                <td class="gdfCell colname-end"><input type="text" name="end" value="" class="date"></td>
                <td class="gdfCell colname-dur"><input type="text" name="duration" value="(#=obj.duration#)"></td>
                <td class="gdfCell colname-dep"><input type="text" name="depends" value="(#=obj.depends#)" (#=obj.hasExternalDep?"readonly":""#)></td>
            </tr>-->
        </div>

        <div class="__template__" type="TASKEMPTYROW"><!--
            <tr class="taskEditRow emptyRow" >
                <th class="gdfCell" align="right"></th>
                <td class="gdfCell colname-code"></td>
                <td class="gdfCell colname-name"></td>
                <td class="gdfCell colname-start"></td>
                <td class="gdfCell colname-end"></td>
                <td class="gdfCell colname-dur"></td>
                <td class="gdfCell colname-dep"></td>
            </tr>-->
        </div>

        <div class="__template__" type="TASKBAR"><!--
            <div class="taskBox taskBoxDiv" taskId="(#=obj.id#)" >
                <div class="layout (#=obj.hasExternalDep?'extDep':''#)">
                    <div class="taskStatus" status="(#=obj.status#)"></div>
                    <div class="taskProgress" style="width:(#=obj.progress>100?100:obj.progress#)%; background-color:(#=obj.progress>100?'red':'rgb(153,255,51);'#);"></div>
                    <div class="milestone (#=obj.startIsMilestone?'active':''#)" ></div>
                    <div class="taskLabel"></div>
                    <div class="milestone end (#=obj.endIsMilestone?'active':''#)" ></div>
                </div>
            </div>-->
        </div>
    </div>
</div>
