<form data-dojo-attach-point="containerNode">
    <fieldset>
        <legend>${nls.billInformation}</legend>
        <div style="height:2px;">&nbsp;</div>
        <table class="table-form">
            <tr>
                <td class="label" style="width:20%;">
                    <label style="display: inline;">${nls.title} :</label>
                </td>
                <td colspan="3" style="width:80%;">
                    ${title}
                </td>
            </tr>
        </table>
    </fieldset>
</form>
