<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="supplyOfMaterialForm">
        <fieldset>
            <legend>${nls.billInformation}</legend>
            <table class="table-form">
                <tr>
                    <td class="label" style="width:150px;">
                        <label style="display: inline;"><span class="required">*</span>${nls.name} :</label>
                    </td>
                    <td colspan="3">
                        <input type="text" name="supply_of_material[title]" style="padding:2px;width:240px;" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true, propercase:true, required:true">
                        <p class="alert-text-error" id="error-supply_of_material_title"></p>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.description} :</label>
                    </td>
                    <td colspan="3">
                        <textarea name="supply_of_material[description]" style="width:240px;padding:2px;min-height:30px;_height:30px;" data-dojo-type="dijit/form/Textarea" data-dojo-props="trim:true"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.unitType} :</label>
                    </td>
                    <td colspan="3">
                        <div data-dojo-attach-point="unitTypeInputDivNode"></div>
                        <div data-dojo-attach-point="unitTypeViewDivNode"></div>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="supply_of_material[_csrf_token]" value="">
            <input type="hidden" name="parent_id" value="${parentId}">
            <input type="hidden" name="id" value="${billId}">
        </fieldset>
    </form>
</div>