<table class="buildspace-table" style="min-height:200px;">
    <thead>
    <tr class="gridHeader">
        <th class="gridCell" colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="gridCell" style="padding:2px;outline:none!important;width:200px;">
            <div data-dojo-type="dijit/InlineEditBox" data-dojo-props="editor:'dijit/Editor', renderAsHtml:true, editorParams:{height: '100px', constraints: {places:0}, extraPlugins: ['dijit._editor.plugins.AlwaysShowToolbar'] }, autoSave:false" style="width:100%;outline:none!important;" data-dojo-attach-event="onFocus:submitMarkup"></div>
        </td>
        <td class="gridCell" style="padding:2px;outline:none!important;width:200px;">
            <div data-dojo-type="dijit/Editor" data-dojo-props="sourceStyle:'font-size:9px;', extraPlugins:['dijit/_editor/plugins/AlwaysShowToolbar']" style="width:100%;outline:none!important;" data-dojo-attach-event="onFocus:submitMarkup"></div>
        </td>
    </tr>
    </tbody>
</table>