<div class="${baseClass} forms-inputs">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="scheduleOfRateBillHeaderFooterForm-${sorBillLayoutSettingId}">
        <fieldset>
            <legend>Header Note</legend>
            <table class="table-form">
                <tr>
                    <td class="label" style="width:100px;"><label style="display: inline;">Styling :</label></td>
                    <td>
                        <input type="checkbox" data-dojo-type="dijit/form/CheckBox" id="scheduleOfRateBillHeaderFooterForm_eleHeadBold-${sorBillLayoutSettingId}" name="eleHeadBold"><label for="scheduleOfRateBillHeaderFooterForm_eleHeadBold-${sorBillLayoutSettingId}" class="removeBlock addMarginRight" style="font-weight:bold;">Bold</label>
                        <input type="checkbox" data-dojo-type="dijit/form/CheckBox" id="scheduleOfRateBillHeaderFooterForm_eleHeadUnderline-${sorBillLayoutSettingId}" name="eleHeadUnderline"><label for="scheduleOfRateBillHeaderFooterForm_eleHeadUnderline-${sorBillLayoutSettingId}" class="removeBlock" style="text-decoration:underline;">Underline</label>
                        <input type="checkbox" data-dojo-type="dijit/form/CheckBox" id="scheduleOfRateBillHeaderFooterForm_eleHeadItalic-${sorBillLayoutSettingId}" name="eleHeadItalic"><label for="scheduleOfRateBillHeaderFooterForm_eleHeadItalic-${sorBillLayoutSettingId}" class="removeBlock addMarginRight" style="font-style:italic;">Italic</label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:100px;"><label style="display: inline;" for="scheduleOfRateBillHeaderFooterForm_topLeftRow1-${sorBillLayoutSettingId}">Top Left Row 1 :</label></td>
                    <td>
                        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim: true, propercase:true, maxLength:42" id="scheduleOfRateBillHeaderFooterForm_topLeftRow1-${sorBillLayoutSettingId}" name="topLeftRow1" style="padding:2px;width:320px;">
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:100px;"><label style="display: inline;" for="scheduleOfRateBillHeaderFooterForm_topLeftRow2-${sorBillLayoutSettingId}">Top Left Row 2 :</label></td>
                    <td>
                        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim: true, propercase:true, maxLength:42" id="scheduleOfRateBillHeaderFooterForm_topLeftRow2-${sorBillLayoutSettingId}" name="topLeftRow2" style="padding:2px;width:320px;">
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:100px;"><label style="display: inline;" for="scheduleOfRateBillHeaderFooterForm_topRightRow1-${sorBillLayoutSettingId}">Top Right Row 1 :</label></td>
                    <td>
                        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim: true, propercase:true, maxLength:42" id="scheduleOfRateBillHeaderFooterForm_topRightRow1-${sorBillLayoutSettingId}" name="topRightRow1" style="padding:2px;width:320px;">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>