<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="locationSelectionForm">
        <fieldset>
            <legend>${nls.locationSequence}</legend>
            <div style="height:2px;">&nbsp;</div>
            <table style="padding:0;margin:0;" data-dojo-attach-point="predefinedLocationCodeSelectionTable">
                <thead>
                <tr data-dojo-attach-point="predefinedLocationCodeSelectionTitleTableRow"></tr>
                </thead>
                <tbody>
                <tr data-dojo-attach-point="predefinedLocationCodeSelectionTableRow"></tr>
                </tbody>
            </table>
            <table style="padding:0;margin:0;" data-dojo-attach-point="projectStructureLocationCodeSelectionTable">
                <thead>
                <tr data-dojo-attach-point="projectStructureLocationCodeSelectionTitleTableRow"></tr>
                </thead>
                <tbody>
                <tr data-dojo-attach-point="projectStructureLocationCodeSelectionTableRow"></tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>