<div class="win" style="display:none;outline:none!important;" tabindex="0" waiState="labelledby-${id}_title" waiRole="window">
    <div class="win-tl">
        <div class="win-tr">
            <div class="win-tc">
                <div class="win-title">
                    <div class="win-icon ${iconClass}"></div>
                    <div dojoAttachPoint="titleNode" class="win-title-label" id="${id}_title">${title}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="win-bmw" role="presentation">
        <div class="win-ml" role="presentation">
            <div class="win-mr" role="presentation">
                <div class="win-mc" style="overflow:hidden;" dojoattachpoint="containerNode"></div>
            </div>
        </div>
        <div class="win-bl">
            <div class="win-br">
                <div class="win-bc">BuildSpace &copy; ${copyrightYear}. All rights reserved.</div>
            </div>
        </div>
    </div>
</div>