<div class="${baseClass} largeForm">
    <fieldset>
            <legend>${nls.mainInformation}</legend>
            <table class="table-form">
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.reference} :</label>
                    </td>
                    <td colspan="3">
                        <span>${project.eProjectReference}</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.title} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;white-space: pre-wrap;">${project.title}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.description} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;white-space: pre-wrap;">${project.description}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.country} :</label>
                    </td>
                    <td>
                        <label style="display: inline;">${project.region}</label>
                    </td>
                    <td class="label">
                        <label style="display: inline;">${nls.state} :</label>
                    </td>
                    <td>
                        <label style="display: inline;">${project.subregion}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.siteAddress} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;white-space: pre-wrap;">${project.site_address}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.currency} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;">${project.currency}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.workCategory} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;">${project.work_category}</label>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <label style="display: inline;">${nls.startDate} :</label>
                    </td>
                    <td colspan="3">
                        <label style="display: inline;">${project.start_date}</label>
                    </td>
                </tr>
            </table>
        </fieldset>
</div>
