<div>
    <form data-dojo-type="dijit/form/Form" data-dojo-attach-point="myProfilePasswordMaintenanceForm" style="display: none;">
        <div data-dojo-attach-point="profileChangePasswordContainer" class="profileChangePasswordContainer">
            <table class="table-form" style="margin: 0 auto;">
                <tr>
                    <td class="label"><label for="oldPassword">${nls.oldPassword}:</label></td>
                    <td>
                        <input type="password" data-dojo-type="dijit/form/ValidationTextBox" required="true" pwType="old" style="padding: 3px;" name="change_password[current_password]">
                        <span style="color:red; display: none;" data-dojo-attach-point="error-current_password"></span>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="newPassword">${nls.newPassword}:</label></td>
                    <td>
                        <input type="password" data-dojo-type="dijit/form/ValidationTextBox" required="true" pwType="new" style="padding: 3px;" name="change_password[new_password]">
                        <span style="color:red; display: none;" data-dojo-attach-point="error-new_password"></span>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label for="confNewPassword">${nls.confirmNewPassword}:</label></td>
                    <td>
                        <input type="password" data-dojo-type="dijit/form/ValidationTextBox" required="true" pwType="verify" style="padding: 3px;" name="change_password[repeat_new_password]">
                        <span style="color:red; display: none;" data-dojo-attach-point="error-repeat_new_password"></span>
                    </td>
                </tr>
            </table>
        </div>

        <input type="hidden" name="change_password[_csrf_token]" value="${csrfToken}">
    </form>
</div>