.idea
.git
.gitignore
vendor
kubernetes
Dockerfile
docker-compose*
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.vscode
public/mix-manifest.json
bootstrap/start.php
public/css/client_style.css
