<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="claimCertificatePrintInfoForm">
        <fieldset style="border-bottom:none;">
            <table class="table-form">
                <tr>
                    <td class="label" style="width:50%;text-align:left;border-bottom:1pt solid black;">
                        <label style="display:inline;font-size:15px" data-dojo-attach-point="companyName"></label>
                    </td>
                    <td class="label" style="width:50%;text-align:right;border-bottom:1pt solid black;">
                        <label style="display:inline;font-size:15px" data-dojo-attach-point="certificateTitle"></label>
                    </td>
                </tr>
            </table>
            <table class="table-form" id="print-format-Nsc" data-dojo-attach-point="printFormatNscTable">
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Project Description:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="projectTitle"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Reference:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="reference"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Sub Contract Works:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="subPackageTitle"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Certificate Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="certificateDate"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Contractor:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="contractorName"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Period Ending:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="periodEnding"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Invoice Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="invoiceDate"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Payment Due Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="dueDate"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Invoice No:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="invoiceNo"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Claim No:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="claimNo"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Bill Total:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="billTotal"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Total VO Amount:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="voOverallTotal"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Contract Sum:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="contractSum"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Completion %:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="completionPercentage"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Remark:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="remark"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Prepared By:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="personInCharge"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
            </table>
        </fieldset>
		<fieldset>
            <table class="table-form custom-table">
                <tr>
                	<td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;">ACCM Total</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;">Previous Claim</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;">This Claim</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;font-weight:bold;" data-dojo-attach-point="sectionALabel"></label>
                    </td>
                    <td>
                        <label style="display:inline;">Bill Total</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="billWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousBillClaimWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentBillClaimWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Variation Order</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="voWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeVoWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentVoWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr data-dojo-attach-point="requestForVariationWorkDoneNode">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">RFV Claims</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="requestForVariationWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeRequestForVariationWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentRequestForVariationWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr id="tr-main-contract-materialOnSite">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Material on site</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeMaterialOnSiteWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeMaterialOnSiteWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentMaterialOnSiteWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Total Work Done</strong></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="totalWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousTotalWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentTotalWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="5" style="border-top:1px solid black"></td>
                    <td colspan="2"></td>
                </tr>
				<tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Retention Sum</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="cumulativeRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="previousCumulativeRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="currentRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Release Retention</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeReleasedRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeReleasedRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentReleaseRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Total Retention</strong></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="cumulativeTotalRetention"></label>)</font>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="previousCumulativeTotalRetention"></label>)</font>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="currentTotalRetention"></label>)</font>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="7" style="border-top:1px solid black"></td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Amount Certified</strong></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeAmountCertified"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativePreviousAmountCertified"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertified"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertifiedTaxAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertifiedIncludingTax"></label>
                    </td>
                </tr>
                <tr data-dojo-attach-point="rfvCategorynameDivider">
                    <td></td>
                    <td colspan="7" style="border-top:1px solid black"></td>
                </tr>
                <tr data-dojo-attach-point="rfvCategoryNameSection">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong data-dojo-attach-point="rfvCategoryName"></strong></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="voWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;"
                            data-dojo-attach-point="previousCumulativeVoWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentVoWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr id="subPackagesSection" hidden></tr>
                <tr id="subpackage-row-1-template" hidden>
                    <td>
                        <label style="display:inline;"><strong data-type="index"></strong></label>
                    </td>
                    <td colspan="7">
                        <label style="display:inline;"><span data-type="title"></span></label>
                    </td>
                </tr>
                <tr id="subpackage-row-2-template" hidden>
                    <td></td>
                    <td colspan="7" style="border-top:1px solid black"></td>
                </tr>
                <tr id="subpackage-row-3-template" hidden>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Amount Certified</strong></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-type="cumulativeAmountCertified"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-type="cumulativePreviousAmountCertified"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-type="amountCertified"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-type="amountCertifiedTaxAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-type="amountCertifiedIncludingTax"></label>
                    </td>
                </tr>
                <tr id="subpackage-row-4-template" hidden>
                    <td colspan="8" style="border-top:1px solid black"></td>
                </tr>
                <tr>
                    <td colspan="4">
                    </td>
                    <td class="label" style="text-align:right" colspan="1">
                        <label style="display: inline;">Net Payable Amount (<span data-dojo-attach-point="subPackageNetPayableAmountCurrencyCode"></span>)</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="subPackageNetPayableAmount"></label>
                    </td>
                    <td>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="subPackageNetPayableAmountIncludingTax"></label>
                    </td>
                </tr>
                <tr>
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
            </table>
        </fieldset>
    </form>
</div>