<div class="${baseClass} forms-inputs">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="scheduleOfRateBillHeadStylingForm-${sorBillLayoutSettingId}">
        <fieldset>
            <legend style="margin-bottom: 10px;">Head Styling</legend>

            <table class="table-form" data-dojo-attach-point="scheduleOfRateBillHeadStylingForm_tableContainer-${sorBillLayoutSettingId}"></table>

            <input type="hidden" name="sorBillLayoutSettingId" value="${sorBillLayoutSettingId}">
            <input type="hidden" name="type" value="headStyling">
        </fieldset>
    </form>
</div>