<form data-dojo-attach-point="containerNode">
    <fieldset>
        <legend>${nls.billInformation}</legend>
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:submit" data-dojo-attach-point="submitButton" data-dojo-props="iconClass:'icon-16-container icon-16-save'">${nls.save}</div>
        <div style="height:2px;">&nbsp;</div>
        <table class="table-form">
            <tr>
                <td class="label" style="width:20%;">
                    <label style="display: inline;"><span class="required">*</span>${nls.title} :</label>
                </td>
                <td style="width:30%;">
                    <div data-dojo-attach-point="titleNode" style="width:100%;padding:2px;"></div>
                </td>
                <td class="label" style="width:20%;">
                    <label style="display: inline;">${nls.description} :</label>
                </td>
                <td colspan="3" style="width:30%;">
                    <div data-dojo-attach-point="descriptionNode" style="width:100%;padding:2px;min-height:30px;_height:30px"></div>
                </td>
            </tr>
            <tr>
                <td class="label" style="width:20%;">
                    <label style="display: inline;"><span class="required">*</span>${nls.rate} ${nls.roundingOptions} :</label>
                </td>
                <td style="width:30%;">
                    <select name="bill_setting[build_up_rate_rounding_type]" style="padding:2px!important;width:100%;" data-dojo-type="dijit/form/Select" data-dojo-attach-point="buildUpRateRoundingTypeNode">
                        <option value="${ROUNDING_TYPE_UPWARD}">${ROUNDING_TYPE_UPWARD_TEXT}</option>
                        <option value="${ROUNDING_TYPE_DOWNWARD}">${ROUNDING_TYPE_DOWNWARD_TEXT}</option>
                        <option value="${ROUNDING_TYPE_NEAREST_WHOLE_NUMBER}">${ROUNDING_TYPE_NEAREST_WHOLE_NUMBER_TEXT}</option>
                        <option value="${ROUNDING_TYPE_NEAREST_TENTH}">${ROUNDING_TYPE_NEAREST_TENTH_TEXT}</option>
                        <option value="${ROUNDING_TYPE_DISABLED}">${ROUNDING_TYPE_DISABLED_TEXT}</option>
                    </select>
                </td>
                <td class="label" style="width:20%;">
                    <label style="display: inline;"><span class="required">*</span>${nls.qty} ${nls.roundingOptions} :</label>
                </td>
                <td style="width:30%;">
                    <div data-dojo-attach-point="buildUpQuantityRoundingTypeNode" style="width:100%;padding:2px;"></div>
                </td>
            </tr>
            <tr>
                <td class="label" style="width:10%;">
                    <label style="display: inline;">${nls.unitType} :</label>
                </td>
                <td style="width:15%;">
                    <div data-dojo-attach-point="unitTypeTextNode"></div>
                </td>
                <td class="label" style="width:10%;">
                    <label style="display: inline;">${nls.billType} :</label>
                </td>
                <td style="width:15%;">
                    <div data-dojo-attach-point="billTypeTextNode"></div>
                </td>
            </tr>
        </table>
    </fieldset>
    <input type="hidden" name="bill_setting[_csrf_token]" value="">
    <input type="hidden" name="bill_setting[unit_type]" value="">
    <input type="hidden" name="id" value="${billId}">
</form>
