<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="BQLocationLocationSelectionForm">
        <fieldset>
            <legend>${nls.trade}</legend>
            <div style="height:2px;">&nbsp;</div>
            <table style="padding:0;margin:0;" data-dojo-attach-point="BQLocationPredefinedLocationCodeSelectionTable">
                <thead>
                <tr data-dojo-attach-point="BQLocationPredefinedLocationCodeSelectionTitleTableRow"></tr>
                </thead>
                <tbody>
                <tr data-dojo-attach-point="BQLocationPredefinedLocationCodeSelectionTableRow"></tr>
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>${nls.location}</legend>
            <div style="height:2px;">&nbsp;</div>
            <table style="padding:0;margin:0;" data-dojo-attach-point="BQLocationProjectStructureLocationCodeSelectionTable">
                <thead>
                <tr data-dojo-attach-point="BQLocationProjectStructureLocationCodeSelectionTitleTableRow"></tr>
                </thead>
                <tbody>
                <tr data-dojo-attach-point="BQLocationProjectStructureLocationCodeSelectionTableRow"></tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</div>