<div>
    <fieldset>
        <legend>${nls.billRevisionSettings}</legend>

        <div style="height:2px;">&nbsp;</div>

        <table class="buildspace-table">
            <thead>
                <tr class="gridHeader">
                    <th class="gridCell" style="text-align:center;">No.</th>
                    <th class="gridCell">${nls.billRevisionDescription}</th>
                    <th class="gridCell" style="text-align: center;">${nls.currentPrintingRevision}</th>
                </tr>
            </thead>
            <tbody data-dojo-attach-point="tableContainer"></tbody>
        </table>
    </fieldset>
</div>