<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="claimCertificatePrintInfoForm">
        <fieldset style="border-bottom:none;">
            <table class="table-form">
                <tr>
                    <td class="label" style="width:50%;text-align:left;border-bottom:1pt solid black;">
                        <label style="display:inline;font-size:15px" data-dojo-attach-point="companyName"></label>
                    </td>
                    <td class="label" style="width:50%;text-align:right;border-bottom:1pt solid black;">
                        <label style="display:inline;font-size:15px" data-dojo-attach-point="certificateTitle"></label>
                    </td>
                </tr>
            </table>
            <table class="table-form" id="print-format-A" data-dojo-attach-point="printFormatATable">
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Project Description:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="projectTitle"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Reference:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="reference"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Sub Contract Works:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="subPackageTitle"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Certificate Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="certificateDate"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Contractor:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="contractorName"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Period Ending:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="periodEnding"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Invoice Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="invoiceDate"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Payment Due Date:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="dueDate"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Invoice No:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="invoiceNo"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Claim No:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="claimNo"></label>
                    </td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Contract Sum:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="billTotal"></label>
                    </td>  
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">URN:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="urn"></label>
                    </td>        
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Total VO Amount:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="voOverallTotal"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Revised Contract Sum:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="contractSum"></label>
                    </td>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Completion %:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="completionPercentage"></label>
                    </td>
                </tr>
                
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Remark:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="remark"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
                <tr>
                    <td class="label" style="width:160px;text-align:left">
                        <label style="display: inline;">Prepared By:</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="personInCharge"></label>
                    </td>
                    <td class="label" style="width:auto;" colspan="2"></td>
                </tr>
            </table>
        </fieldset>
		<fieldset>
            <table class="table-form custom-table">
                <tr>
                	<td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;">ACCM Total</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;">Previous Claim</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;">This Claim</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;font-weight:bold;" data-dojo-attach-point="sectionALabel"></label>
                    </td>
                    <td>
                        <label style="display:inline;">Bill Total</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="billWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousBillClaimWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentBillClaimWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Variation Order</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="voWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeVoWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentVoWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr data-dojo-attach-point="requestForVariationWorkDoneNode">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">RFV Claims</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="requestForVariationWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeRequestForVariationWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentRequestForVariationWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr id="tr-main-contract-materialOnSite">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Material on site</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeMaterialOnSiteWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeMaterialOnSiteWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentMaterialOnSiteWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Total Work Done</strong></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="totalWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousTotalWorkDone"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentTotalWorkDone"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="5" style="border-top:1px solid black"></td>
                    <td colspan="2"></td>
                </tr>
				<tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Retention Sum</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="cumulativeRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="previousCumulativeRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="currentRetentionSum"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Release Retention</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeReleasedRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="previousCumulativeReleasedRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentReleaseRetentionAmount"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Total Retention</strong></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="cumulativeTotalRetention"></label>)</font>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="previousCumulativeTotalRetention"></label>)</font>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red">(<label style="display:inline;" data-dojo-attach-point="currentTotalRetention"></label>)</font>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="7" style="border-top:1px solid black"></td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Amount Certified</strong></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeAmountCertified"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativePreviousAmountCertified"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertified"></label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;" data-dojo-attach-point="amountCertifiedTaxPercentageLabel"></label>
                    </td>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertifiedTax"></label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong>Amount Certified + Tax</strong></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativeAmountCertifiedPlusTax"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="cumulativePreviousAmountCertifiedPlusTax"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="amountCertifiedPlusTax"></label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr data-dojo-attach-point="rfvCategorynameDivider">
                    <td></td>
                    <td colspan="7" style="border-top:1px solid black"></td>
                </tr>
                <tr data-dojo-attach-point="rfvCategoryNameSection">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;"><strong data-dojo-attach-point="rfvCategoryName"></strong></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="voWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;"data-dojo-attach-point="previousCumulativeVoWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="currentVoWorkDoneForSelectedRfvCategory"></label>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr class="section_b-row">
                	<td>
                        <label style="display:inline;font-weight:bold;" data-dojo-attach-point="sectionBLabel"></label>
                    </td>
                    <td class="label" style="text-align:left">
                        <label style="display:inline;" data-dojo-attach-point="sectionMiscLabel"></label>
                    </td>
                	<td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr class="section_b-row" data-dojo-attach-point="includeAdvancePayment" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Advance Payment</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="advancePaymentOverallTotalFormatB"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="advancePaymentPreviousClaimFormatB"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="advancePaymentThisClaimFormatB"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_b-row">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Advance Payment Recoupment</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="advancePaymentRecoupmentOverallTotal"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="advancePaymentRecoupmentPreviousClaim"></label></font>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="advancePaymentRecoupmentThisClaim"></label></font>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_b-row" data-dojo-attach-point="includeDeposit" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Deposit</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="depositOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="depositPreviousClaim"></label></font>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="depositThisClaim"></label>
                    </td>
                   <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr id="tr-misc-materialOnSite" class="section_b-row" data-dojo-attach-point="includeMaterialOnSite" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Material On Site</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="materialOnSiteOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="materialOnSitePreviousClaim"></label></font>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="materialOnSiteThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_b-row" data-dojo-attach-point="includeKsk" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">KSK</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="kskOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="kskPreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="kskThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_b-row" data-dojo-attach-point="includeWorkOnBehalfMc" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">WOB ( M/C )</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobMCOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobMCPreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobMCThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_b-row">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                	<td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">Sub Total</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="miscThisClaimSubTotalRecoupment"></label>
                    </td>
                </tr>
                <tr class="section_b-row">
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr class="section_b-row">
                    <td colSpan = "5" class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="taxInvoiceBySubContractorLabel"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="taxInvoiceBySubConSubTotalRecoupment"></label>
                    </td>
                </tr>
                <tr class="section_b-row">
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr class="section_c-row">
                	<td>
                        <label style="display:inline;font-weight:bold;" data-dojo-attach-point="sectionCLabel"></label>
                    </td>
                    <td class="label" style="text-align:left">
                        <label style="display:inline;" data-dojo-attach-point="sectionOthersLabel"></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_c-row" data-dojo-attach-point="includeDebitCreditNote" style="display:none;">
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Credit/Debit Note</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="debitCreditNoteOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="debitCreditNotePreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="debitCreditNoteThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_c-row" data-dojo-attach-point="includePurchaseOnBehalf" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">POB</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="pobOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="pobPreviousClaim"></label></font>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="pobThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_c-row" data-dojo-attach-point="includeWorkOnBehalf" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">WOB</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobPreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="wobThisClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_c-row" data-dojo-attach-point="includePenalty" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Penalty</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="penaltyOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="penaltyPreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="penaltyThisClaim"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_c-row">
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr class="section_c-row">
                    <td colSpan = "5" class="label" style="text-align:right">
                        <label style="display:inline;"><span data-dojo-attach-point="taxInvoiceBySubsidiaryLabel"></span> <span data-dojo-attach-point="companyName2"></span></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="otherThisClaimSubTotal"></label>
                    </td>
                </tr>
                <tr class="section_c-row">
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr class="section_d-row">
                	<td>
                        <label style="display:inline;font-weight:bold;" data-dojo-attach-point="sectionDLabel"></label>
                    </td>
                    <td class="label" style="text-align:left">
                        <label style="display:inline;" data-dojo-attach-point="sectionPaymentOnBehalfLabel"></label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_d-row" data-dojo-attach-point="includeUtility" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Utility</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="waterDepositOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="waterDepositPreviousClaim"></label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="waterDepositThisClaim"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_d-row" data-dojo-attach-point="includePermit" style="display:none;">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">Permit</label>
                    </td>
                	<td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="permitOverallTotal"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <font color="red"><label style="display:inline;" data-dojo-attach-point="permitPreviousClaim"></label></font>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="permitThisClaim"></label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display: inline;">&nbsp;</label>
                    </td>
                </tr>
                <tr class="section_d-row">
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                	<td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">Sub Total</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="paymentOnBehalfThisClaimSubTotal"></label>
                    </td>
                </tr>
                <tr class="section_d-row">
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
                <tr>
                	<td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                    <td>
                        <label style="display:inline;">&nbsp;</label>
                    </td>
                	<td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        &nbsp;
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display: inline;">Net Payable Amount (<span data-dojo-attach-point="currencyCode"></span>)</label>
                    </td>
                    <td class="label" style="text-align:right">
                        <label style="display:inline;" data-dojo-attach-point="netPayableAmountRecoupmentWithTax"></label>
                    </td>
                </tr>
                <tr>
				    <td colspan="8" style="border-top:1px solid black"></td>
				</tr>
            </table>
        </fieldset>
    </form>
</div>