<div class="${baseClass}">
    <form data-dojo-type="dojox/form/Manager" data-dojo-attach-point="claimCertificateApprovalLogForm">
        <fieldset>
            <legend>${nls.remarks}</legend>
            <textarea name="claim_certificate_approval_log[remarks]" style="padding:2px;min-height:68px;" data-dojo-type="dijit/form/Textarea" data-dojo-props="trim:true"></textarea>
        </fieldset>
        <input type="hidden" name="claim_certificate_approval_log[claim_certificate_id]" value="">
        <input type="hidden" name="claim_certificate_approval_log[status]" value="">
        <input type="hidden" name="claim_certificate_approval_log[_csrf_token]" value="">
    </form>
</div>