<form data-dojo-attach-point="containerNode">
    <fieldset style="width:420px;">
        <legend>${nls.changeDefaultPassword}</legend>
        <table>
            <tr>
                <td class="label"><label style="display: inline;"><span class="required">*</span>${nls.newPassword} :</label></td>
                <td>
                    <input type="password" name="change_password[new_password]" style="padding:2px;width:150px;" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true, required:true">
                    <p class="alert-text-error" data-dojo-attach-point="error-new_password" id="error-new_password"></p>
                </td>
            </tr>
            <tr>
                <td class="label"><label style="display: inline;"><span class="required">*</span>${nls.confirmNewPassword} :</label></td>
                <td>
                    <input type="password" name="change_password[repeat_new_password]" style="padding:2px;width:150px;" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="trim:true, required:true">
                    <p class="alert-text-error" data-dojo-attach-point="error-repeat_new_password" id="error-repeat_new_password"></p>
                </td>
            </tr>
        </table>
    </fieldset>

    <input type="hidden" name="change_password[_csrf_token]" value="">
</form>